In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("upload-pricequotes202301.csv")

print("Initial Shape:", df.shape)
df.head()

Initial Shape: (139419, 20)

,QUOTE_DATE,ITEM_ID,ITEM_DESC,VALIDITY,SHOP_CODE,PRICE,INDICATOR_BOX,ORIG_INDICATOR_BOX,PRICE_RELATIVE,LOG_PRICE_RELATIVE,STRATUM_WEIGHT,STRATUM_TYPE,START_DATE,END_DATE,REGION,SHOP_TYPE,SHOP_WEIGHT,BASE_PRICE,BASE_VALIDITY,STRATUM_CELL
0,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,801,1.30,NaN,NaN,1.130,0.123,11.92,1,202202,999999,2,1,1,1.150,3,2
1,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,802,2.00,NaN,NaN,1.429,0.357,11.92,1,202202,999999,2,1,1,1.400,3,2
2,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,803,1.25,NaN,NaN,1.087,0.083,11.92,1,202202,999999,2,1,1,1.150,3,2
3,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,807,1.30,NaN,NaN,1.153,0.142,11.92,1,202204,999999,2,1,2,1.128,4,2
4,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,808,1.25,NaN,NaN,1.087,0.083,11.92,1,202202,999999,2,1,2,1.150,3,2

In [3]:
print("\nColumn Names:\n", df.columns)
print("\nData Types:\n", df.dtypes)
print("\nMissing Values:\n", df.isnull().sum())
print("\nDuplicate Rows:", df.duplicated().sum())

Column Names:
 Index(['QUOTE_DATE', 'ITEM_ID', 'ITEM_DESC', 'VALIDITY', 'SHOP_CODE', 'PRICE',
       'INDICATOR_BOX', 'ORIG_INDICATOR_BOX', 'PRICE_RELATIVE',
       'LOG_PRICE_RELATIVE', 'STRATUM_WEIGHT', 'STRATUM_TYPE', 'START_DATE',
       'END_DATE', 'REGION', 'SHOP_TYPE', 'SHOP_WEIGHT', 'BASE_PRICE',
       'BASE_VALIDITY', 'STRATUM_CELL'],
      dtype='object')

Data Types:
 QUOTE_DATE              int64
ITEM_ID                 int64
ITEM_DESC              object
VALIDITY                int64
SHOP_CODE               int64
PRICE                 float64
INDICATOR_BOX          object
ORIG_INDICATOR_BOX     object
PRICE_RELATIVE        float64
LOG_PRICE_RELATIVE    float64
STRATUM_WEIGHT        float64
STRATUM_TYPE            int64
START_DATE              int64
END_DATE                int64
REGION                  int64
SHOP_TYPE               int64
SHOP_WEIGHT             int64
BASE_PRICE            float64
BASE_VALIDITY           int64
STRATUM_CELL            int64
dtype: object

Missing Values:
 QUOTE_DATE                0
ITEM_ID                   0
ITEM_DESC                 0
VALIDITY                  0
SHOP_CODE                 0
PRICE                     0
INDICATOR_BOX         96555
ORIG_INDICATOR_BOX    97816
PRICE_RELATIVE            0
LOG_PRICE_RELATIVE        0
STRATUM_WEIGHT            0
STRATUM_TYPE              0
START_DATE                0
END_DATE                  0
REGION                    0
SHOP_TYPE                 0
SHOP_WEIGHT               0
BASE_PRICE                0
BASE_VALIDITY             0
STRATUM_CELL              0
dtype: int64

Duplicate Rows: 153

In [4]:
df.drop_duplicates(inplace=True)

print("Shape After Removing Duplicates:", df.shape)

Shape After Removing Duplicates: (139266, 20)

In [5]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

cat_cols = df.select_dtypes(include=['object']).columns

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [6]:
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_numeric(df[col])
        except:
            pass

In [7]:
cat_cols = df.select_dtypes(include=['object']).columns

if len(cat_cols) > 0:
    df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [8]:
print("Final Shape:", df.shape)
df.head()

Final Shape: (139266, 622)

,QUOTE_DATE,ITEM_ID,VALIDITY,SHOP_CODE,PRICE,PRICE_RELATIVE,LOG_PRICE_RELATIVE,STRATUM_WEIGHT,STRATUM_TYPE,START_DATE,...,INDICATOR_BOX_T,INDICATOR_BOX_W,ORIG_INDICATOR_BOX_M,ORIG_INDICATOR_BOX_N,ORIG_INDICATOR_BOX_P,ORIG_INDICATOR_BOX_Q,ORIG_INDICATOR_BOX_R,ORIG_INDICATOR_BOX_S,ORIG_INDICATOR_BOX_T,ORIG_INDICATOR_BOX_W
0,202301,210102,3,801,1.30,1.130,0.123,11.92,1,202202,...,False,False,False,False,False,False,False,False,False,False
1,202301,210102,3,802,2.00,1.429,0.357,11.92,1,202202,...,False,False,False,False,False,False,False,False,False,False
2,202301,210102,3,803,1.25,1.087,0.083,11.92,1,202202,...,False,False,False,False,False,False,False,False,False,False
3,202301,210102,3,807,1.30,1.153,0.142,11.92,1,202204,...,False,False,False,False,False,False,False,False,False,False
4,202301,210102,3,808,1.25,1.087,0.083,11.92,1,202202,...,False,False,False,False,False,False,False,False,False,False