Import Libraries

In [ ]:
import pandas as pd
import numpy as np

Load Full Dataset

In [ ]:
df = pd.read_csv("retail_store_inventory.csv")

print("Dataset Loaded Successfully")

Dataset Loaded Successfully

View Dataset Information

In [ ]:
print("Dataset Shape:", df.shape)

Dataset Shape: (73100, 15)

In [ ]:

print("\nColumns:")
print(df.columns)

Columns:
Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [ ]:
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

In [ ]:
print("\nFirst 5 Rows:")
df.head()

First 5 Rows:

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

Check Null Values Before Cleaning

In [ ]:
print("\nNull values before cleaning:")
print(df.isnull().sum())

Null values before cleaning:
Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

Remove Duplicate Rows

In [ ]:
df.drop_duplicates(inplace=True)

Keep Important Columns Only

In [ ]:
important_cols = [
    "Date",
    "Store ID",
    "Product ID",
    "Category",
    "Region",
    "Price",
    "Units Sold",
    "Inventory Level",
    "Discount",
    "Competitor Pricing"
]

df = df[[c for c in important_cols if c in df.columns]]

Convert Date Column

In [ ]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

Create Time Features

In [ ]:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day

Handle Missing Values

In [ ]:
num_cols = df.select_dtypes(include=np.number).columns
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

cat_cols = df.select_dtypes(include="object").columns
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-140856389.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipython-input-140856389.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

Create Sales Feature

In [ ]:
df["Total Sales"] = df["Price"] * df["Units Sold"]

Reset Index

In [ ]:
df.reset_index(drop=True, inplace=True)

Final Null Check

In [ ]:
print("\nNull values after preprocessing:")
print(df.isnull().sum())

Null values after preprocessing:
Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Price                 0
Units Sold            0
Inventory Level       0
Discount              0
Competitor Pricing    0
Year                  0
Month                 0
Day                   0
Total Sales           0
dtype: int64

View Clean Data

In [ ]:
df.head()

,Date,Store ID,Product ID,Category,Region,Price,Units Sold,Inventory Level,Discount,Competitor Pricing,Year,Month,Day,Total Sales
0,2022-01-01,S001,P0001,Groceries,North,33.50,127,231,20,29.69,2022,1,1,4254.50
1,2022-01-01,S001,P0002,Toys,South,63.01,150,204,20,66.16,2022,1,1,9451.50
2,2022-01-01,S001,P0003,Toys,West,27.99,65,102,10,31.32,2022,1,1,1819.35
3,2022-01-01,S001,P0004,Toys,North,32.72,61,469,10,34.74,2022,1,1,1995.92
4,2022-01-01,S001,P0005,Electronics,East,73.64,14,166,0,68.95,2022,1,1,1030.96

Save Clean Dataset

In [ ]:
df.to_csv("cleaned_retail_inventory.csv", index=False)
print("Clean dataset saved.")

Clean dataset saved.

In [ ]:
files.download("cleaned_retail_inventory.csv")