In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/retail_store_inventory.csv")
df.head()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [ ]:
df.shape          # rows & columns
df.columns        # column names
df.info()         # data types
df.describe()     # statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Holiday/Promotion,Competitor Pricing
count,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000
mean,274.469877,136.464870,110.004473,141.494720,55.135108,10.009508,0.497305,55.146077
std,129.949514,108.919406,52.277448,109.254076,26.021945,7.083746,0.499996,26.191408
min,50.000000,0.000000,20.000000,-9.990000,10.000000,0.000000,0.000000,5.030000
25%,162.000000,49.000000,65.000000,53.670000,32.650000,5.000000,0.000000,32.680000
50%,273.000000,107.000000,110.000000,113.015000,55.050000,10.000000,0.000000,55.010000
75%,387.000000,203.000000,155.000000,208.052500,77.860000,15.000000,1.000000,77.820000
max,500.000000,499.000000,200.000000,518.550000,100.000000,20.000000,1.000000,104.940000

In [ ]:
df.isnull().sum()

Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

In [ ]:
df.fillna(method='ffill', inplace=True)   # forward fill
# OR
df.fillna(0, inplace=True)

/tmp/ipython-input-3472898805.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)   # forward fill

In [ ]:
print(df.columns)

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [ ]:
for col in df.columns:
    if 'date' in col.lower():
        print(col)

Date

In [ ]:
df.columns = df.columns.str.strip()

for col in df.columns:
    if 'date' in col.lower():
        df[col] = pd.to_datetime(df[col], errors='coerce')
        print(f"{col} converted successfully")

Date converted successfully

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(73100, 15)

In [ ]:
# remove duplicates
df.drop_duplicates(inplace=True)

# fill numeric columns with mean
df.fillna(df.mean(numeric_only=True), inplace=True)

# fill categorical columns with mode
for col in df.select_dtypes(include='object'):
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-978052801.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
import pandas as pd

df = pd.read_csv("retail_store_inventory.csv")

# convert to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [ ]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Month_Name'] = df['Date'].dt.month_name()

In [ ]:
yearly_data = df.groupby('Year').sum(numeric_only=True)
print(yearly_data)

      Inventory Level  Units Sold  Units Ordered  Demand Forecast       Price  \
Year
2022         10029860     4991624        4010105       5175025.77  2017804.27
2023         10007412     4970714        4019988       5154515.77  2007244.53
2024            26476       13244          11234         13722.50     5327.61

      Discount  Holiday/Promotion  Competitor Pricing   Month
Year
2022    365575              18212          2017737.49  238200
2023    365145              18094          2008103.51  238200
2024       975                 47             5337.26     100

In [ ]:
monthly_data = df.groupby('Month_Name').sum(numeric_only=True)
print(monthly_data)

            Inventory Level  Units Sold  Units Ordered  Demand Forecast  \
Month_Name
April               1640696      808457         663351        837783.42
August              1689735      841417         678722        873088.86
December            1681905      830993         675833        861478.02
February            1538685      776220         617762        805667.89
January             1723528      856590         693472        888157.46
July                1714616      864547         674145        896670.24
June                1659386      821150         658346        851576.78
March               1700449      842595         687655        874110.18
May                 1682510      833472         684104        863171.00
November            1658801      830661         657873        861465.38
October             1716627      852509         687436        883151.93
September           1656810      816971         662628        846942.88

                Price  Discount  Holiday/Promotion  Competitor Pricing  \
Month_Name
April       333865.14     60800               2966           334098.30
August      337268.35     61755               3073           337099.15
December    340235.89     61920               3089           340220.63
February    307255.75     55725               2760           307224.67
January     348727.13     63260               3146           349169.01
July        339628.26     61040               2946           339592.59
June        333030.94     60525               3015           333372.65
March       347442.33     62970               3142           347249.74
May         341168.02     61530               3122           341382.23
November    330033.19     60630               2999           330188.22
October     338661.46     61985               3043           338521.97
September   333059.95     59555               3052           333059.10

                Year  Month
Month_Name
April       12135000  24000
August      12539500  49600
December    12539500  74400
February    11326000  11200
January     12741900   6300
July        12539500  43400
June        12135000  36000
March       12539500  18600
May         12539500  31000
November    12135000  66000
October     12539500  62000
September   12135000  54000

In [ ]:
year_month = df.groupby(['Year','Month']).sum(numeric_only=True)
print(year_month)

            Inventory Level  Units Sold  Units Ordered  Demand Forecast  \
Year Month
2022 1               843236      419938         340861        435589.72
     2               772235      391052         309042        405486.42
     3               851921      426073         342307        442065.41
     4               816564      407380         332595        422445.83
     5               842423      414799         339976        429732.32
     6               836778      415509         329740        430489.22
     7               851304      426628         334875        442158.64
     8               853281      424916         341378        440359.69
     9               835153      411610         329867        427070.14
     10              854186      426863         342970        442145.19
     11              829774      414535         326598        429495.95
     12              843005      412321         339896        427987.24
2023 1               853816      423408         341377        438845.24
     2               766450      385168         308720        400181.47
     3               848528      416522         345348        432044.77
     4               824132      401077         330756        415337.59
     5               840087      418673         344128        433438.68
     6               822608      405641         328606        421087.56
     7               863312      437919         339270        454511.60
     8               836454      416501         337344        432729.17
     9               821657      405361         332761        419872.74
     10              862441      425646         344466        441006.74
     11              829027      416126         331275        431969.43
     12              838900      418672         335937        433490.78
2024 1                26476       13244          11234         13722.50

                Price  Discount  Holiday/Promotion  Competitor Pricing
Year Month
2022 1      172330.25     30955               1546           172645.67
     2      151956.79     27635               1403           151841.73
     3      173716.56     31925               1535           173444.52
     4      167412.30     30920               1471           167360.68
     5      170712.78     30945               1554           170722.70
     6      167426.52     29690               1518           167524.33
     7      171623.07     30070               1482           171393.99
     8      169719.80     30725               1539           169701.36
     9      167799.33     29905               1518           167713.68
     10     169430.00     31535               1580           169437.90
     11     166208.54     30370               1516           166262.31
     12     169468.33     30900               1550           169688.62
2023 1      171069.27     31330               1553           171186.08
     2      155298.96     28090               1357           155382.94
     3      173725.77     31045               1607           173805.22
     4      166452.84     29880               1495           166737.62
     5      170455.24     30585               1568           170659.53
     6      165604.42     30835               1497           165848.32
     7      168005.19     30970               1464           168198.60
     8      167548.55     31030               1534           167397.79
     9      165260.62     29650               1534           165345.42
     10     169231.46     30450               1463           169084.07
     11     163824.65     30260               1483           163925.91
     12     170767.56     31020               1539           170532.01
2024 1        5327.61       975                 47             5337.26

In [ ]:
df['YearMonth'] = df['Date'].dt.to_period('M')
grouped = df.groupby('YearMonth').sum(numeric_only=True)
print(grouped)

           Inventory Level  Units Sold  Units Ordered  Demand Forecast  \
YearMonth
2022-01             843236      419938         340861        435589.72
2022-02             772235      391052         309042        405486.42
2022-03             851921      426073         342307        442065.41
2022-04             816564      407380         332595        422445.83
2022-05             842423      414799         339976        429732.32
2022-06             836778      415509         329740        430489.22
2022-07             851304      426628         334875        442158.64
2022-08             853281      424916         341378        440359.69
2022-09             835153      411610         329867        427070.14
2022-10             854186      426863         342970        442145.19
2022-11             829774      414535         326598        429495.95
2022-12             843005      412321         339896        427987.24
2023-01             853816      423408         341377        438845.24
2023-02             766450      385168         308720        400181.47
2023-03             848528      416522         345348        432044.77
2023-04             824132      401077         330756        415337.59
2023-05             840087      418673         344128        433438.68
2023-06             822608      405641         328606        421087.56
2023-07             863312      437919         339270        454511.60
2023-08             836454      416501         337344        432729.17
2023-09             821657      405361         332761        419872.74
2023-10             862441      425646         344466        441006.74
2023-11             829027      416126         331275        431969.43
2023-12             838900      418672         335937        433490.78
2024-01              26476       13244          11234         13722.50

               Price  Discount  Holiday/Promotion  Competitor Pricing  \
YearMonth
2022-01    172330.25     30955               1546           172645.67
2022-02    151956.79     27635               1403           151841.73
2022-03    173716.56     31925               1535           173444.52
2022-04    167412.30     30920               1471           167360.68
2022-05    170712.78     30945               1554           170722.70
2022-06    167426.52     29690               1518           167524.33
2022-07    171623.07     30070               1482           171393.99
2022-08    169719.80     30725               1539           169701.36
2022-09    167799.33     29905               1518           167713.68
2022-10    169430.00     31535               1580           169437.90
2022-11    166208.54     30370               1516           166262.31
2022-12    169468.33     30900               1550           169688.62
2023-01    171069.27     31330               1553           171186.08
2023-02    155298.96     28090               1357           155382.94
2023-03    173725.77     31045               1607           173805.22
2023-04    166452.84     29880               1495           166737.62
2023-05    170455.24     30585               1568           170659.53
2023-06    165604.42     30835               1497           165848.32
2023-07    168005.19     30970               1464           168198.60
2023-08    167548.55     31030               1534           167397.79
2023-09    165260.62     29650               1534           165345.42
2023-10    169231.46     30450               1463           169084.07
2023-11    163824.65     30260               1483           163925.91
2023-12    170767.56     31020               1539           170532.01
2024-01      5327.61       975                 47             5337.26

              Year  Month
YearMonth
2022-01    6268200   3100
2022-02    5661600   5600
2022-03    6268200   9300
2022-04    6066000  12000
2022-05    6268200  15500
2022-06    6066000  18000
2022-07    6268200  21700
2022-08    6268200  24800
2022-09    6066000  27000
2022-10    6268200  31000
2022-11    6066000  33000
2022-12    6268200  37200
2023-01    6271300   3100
2023-02    5664400   5600
2023-03    6271300   9300
2023-04    6069000  12000
2023-05    6271300  15500
2023-06    6069000  18000
2023-07    6271300  21700
2023-08    6271300  24800
2023-09    6069000  27000
2023-10    6271300  31000
2023-11    6069000  33000
2023-12    6271300  37200
2024-01     202400    100

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns)

Index(['date', 'store_id', 'product_id', 'category', 'region',
       'inventory_level', 'units_sold', 'units_ordered', 'demand_forecast',
       'price', 'discount', 'weather_condition', 'holiday/promotion',
       'competitor_pricing', 'seasonality'],
      dtype='object')

In [ ]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

KeyError: 'Date'